.resize-handle {
  flex-shrink: 0;
  position: relative;
  background: var(--bg-base);
}

.resize-handle--horizontal {
  width: 5px;
  margin: 0 -2px;
  height: 100%;
  cursor: col-resize;
  z-index: 10;
}

.resize-handle--vertical {
  width: 100%;
  height: 5px;
  margin: -2px 0;
  cursor: row-resize;
  z-index: 10;
}

.resize-handle:hover {
  background: var(--border-emphasis);
}

.resize-handle--dragging {
  background: var(--accent);
}
