.surface-split {
  display: flex;
  width: 100%;
  height: 100%;
  gap: var(--space-1);
}

.surface-split--horizontal {
  flex-direction: row;
}

.surface-split--vertical {
  flex-direction: column;
}

.surface-split__child {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
